<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="serverAddress" value="universe.virtualparadise.org" />
      <add key="serverPort" value="57000" />
      <add key="username" value="UsernameHere" />
      <add key="password" value="PasswordHere" />
      <add key="world" value="WorldNameHere" />
      <add key="blockOwner" value="5"/>
      <add key="blockModel" value="gamecube"/>
      <add key="distributionInterval" value="300000"/>
      <add key="persistenceInterval" value="60000"/>
      <add key="webOverlayServerBinding" value="http://84.104.229.23:8181/" />
      <add key="webOverlayServerUrl" value="http://84.104.229.23:8181/api/WebOverlay/" />
      <add key="webOverlayUrl" value="http://84.104.229.23:8080/" />
      <add key="traditionalGameplay" value="false"/>
    </appSettings>
</configuration>